button {
	margin: 0.5rem;
	padding: 0.4rem 0.8rem;
	width: 90%;
	border-radius: 5px;
	align-self: center;
	background-color: var(--blue-color);
	color: var(--black-color);
	transition: 0.3s background-color;
	cursor: pointer;
}
button:hover {
	background-color: var(--blue-light);
}
